
<div class="mb-3 ">
    <div sm="12">
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <h1>Test Dashboard</h1>
                    <p class="small text-muted">Overview of your taxes and income</p>
                    <div aria-label="Basic outlined example" role="group">
                        <button cButton color="primary"  variant="outline">
                          Summary
                        </button>
                        <button cButton color="primary" variant="outline">
                          Tree
                        </button>
                      </div>
                </div>
                <div>
                    <select aria-label="Default select example" cSelect>
                        <option>Select tax year</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>    