<div>
    <div class="  m-3">
        <div class="flex flex-row">
            <div class='w-60 ml-1'>
                <div>
                    <div class="text-3xl font-medium my-2">Logo</div>
                    <div class="font-bold">Joe Blogs</div>
                </div>
                <div class="ml-1">
                    <div>
                        <input type="text" placeholder="Search" class="input input-bordered input-xs w-full max-w-xs" />
                    </div>
                    <div> <span class="text-2xl">⌂</span> Dashboard</div>
                    <div><span class="text-2xl">⌂</span> Income</div>
                    <div><span class="text-2xl">⌂</span> Goals</div>
                    <div><span class="text-2xl">⌂</span> Future</div>
                    <div>
                        <span class="text-2xl">⌂</span>
                        Opportunity
                        <div class="badge ml-5 border-none bg-gray-300">10</div>
                    </div>

                    <div>
                        <span class="text-2xl">⌂</span>
                        Insights
                        <div class="badge ml-8 border-none bg-gray-300">10</div>
                    </div>
                    <div><span class="text-2xl">⌂</span> Reports</div>

                    <div class="h-48 pt-28 ">
                        <div><span class="text-2xl">⌂</span> Education &amp; Support</div>
                        <div><span class="text-2xl">⌂</span> Settings</div>
                    </div>
                </div>

                <div class="">
                    <div class="mt-1 flex items-center">
                        <!-- <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                            </svg>
                        </span>
                        <div class="grid grid-col pl-2 pt-2">
                            <span class='font-bold'>Ofvie Rhye</span>
                            <span class="text-sm">Tester / Writer</span>
                        </div> -->
                        <div class="flex items-center space-x-3">
                            <div class="avatar">
                              <div class="mask mask-squircle w-12 h-12">
                                <img src="https://media.istockphoto.com/id/476085198/photo/businessman-silhouette-as-avatar-or-default-profile-picture.jpg?s=612x612&w=is&k=20&c=bsmQokfnjNnmgAwFTRjemoCN7MHs3eIKvAukgaFnvSc=" alt="Avatar Tailwind CSS Component" />
                              </div>
                            </div>
                            <div>
                              <div class="font-bold">Hart Hagerty</div>
                              <div class="text-sm opacity-50">United States</div>
                            </div>
                          </div>
                    </div>

                </div>
            </div>

            <div class="bg-slate-100 w-full">
                <div class="flex justify-between m-2 ">
                    <div>Income Source</div>
                    <div>help</div>
                </div>

                <div class='mx-3'>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500   ">Summary</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Employment</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Business</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Pension</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Property</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Interest</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Dividends</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Trusts & Estates</button>
                    <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Other</button>
                </div>
                <!-- Business details -->
                <div class="flex justify-between mx-5 my-4">
                    <div>
                        <div class="font-bold">Business details</div>
                        <div>Update your business details here</div>
                    </div>
                    <div>
                        <button class="p-2 m-1 rounded-md border border-blue-600  hover:bg-teal-500">Cancel</button>
                        <button class="p-2 m-1 rounded-md bg-teal-100 hover:bg-teal-500 ">Save</button>
                    </div>
                </div>

                <div>
                    <!-- Legal Name -->
                    <div class="flex">
                        <div class='mx-5 w-80'>
                            <div class="font-bold">Legal Name:</div>
                            <small>This is the legal name of the business</small>
                        </div>
                        <div>
                            <input type="text" placeholder="Company Name" class="input input-bordered w-96" />
                        </div>
                    </div>
                    <hr class="my-2">
                    <!-- Business Name -->
                    <div class="flex">
                        <div class='mx-5 w-80'>
                            <div class="font-bold">Business Name:</div>
                            <small>This is the trading name of the business</small>
                        </div>
                        <div>
                            <input type="text" placeholder="Business Name" class="input input-bordered w-96" />
                        </div>
                    </div>
                    <hr class="my-2">
                    <!-- Business Type -->
                    <div class="flex">
                        <div class='mx-5 w-80'>
                            <div class="font-bold">Business Type:</div>
                            <small>The legal type of the business</small>
                        </div>
                        <div>
                            <!-- <input type="text" placeholder="Business Type" class="input input-bordered w-96" /> -->
                            <select class="select select-bordered w-96">
                                <option disabled selected>Limited Company</option>
                                <option>Han Solo</option>
                                <option>Greedo</option>
                            </select>
                        </div>
                    </div>
                    <hr class="my-2">
                    <!-- Ownership -->
                    <div class="flex">
                        <div class='mx-5 w-80'>
                            <div class="font-bold">Ownership:</div>
                            <small>What percentage of do you own of the business?</small>
                        </div>
                        <div>
                            <input type="text" placeholder="Ownership" class="input input-bordered w-96" />
                        </div>
                    </div>
                    <hr class="my-2">
                </div>

                <!-- Kay dates -->
                <div class="flex my-8">
                    <div class="h-32 w-80 mx-5 font-bold  ">Kay dates</div>
                    <div class="">
                        <div class='rounded-md w-96 flex border h-10 border-blue-600 '>
                            <div class="border-r  border-blue-600 px-2">Own From</div>
                            <div>
                                <input type="date" class="box h-9 w-72 outline-none" />
                            </div>
                        </div>
                        <div class='rounded-md my-2 w-96 flex border h-10 border-blue-600'>
                            <div class="border-r  border-blue-600 px-1">Sold/Ended</div>
                            <div>
                                <input type="date" class="box h-9 w-72 outline-none" />
                            </div>
                        </div>
                        <div class='rounded-md flex border h-10 border-blue-600'>
                            <div class="border-r border-blue-600 px-4">Year end</div>
                            <div>
                                <input type="date" class="box h-9 w-72 outline-none " />
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Checkbox -->
                <div>
                    <div class="flex">
                        <div class='mx-5 w-80'>
                            <div class="font-bold">Director</div>
                            <small>Are you company director?</small>
                        </div>
                        <div class="flex">
                            <div class="flex">
                                <input type="checkbox" checked="checked" class="checkbox checkbox-accent" />
                                <div><span class="label-text mx-3">Yes</span></div>
                            </div>
                            <div class="flex">
                                <input type="checkbox" value="" class="checkbox checkbox-accent" />
                                <div><span class="label-text mx-3">No</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex my-8">
                        <div class='mx-5 w-80'>
                            <div class="font-bold">Dividends</div>
                            <small>Can you decide your dividend?</small>
                        </div>
                        <div class="flex">
                            <div class="flex">
                                <input type="checkbox" checked="checked" class="checkbox checkbox-accent" />
                                <div><span class="label-text mx-3">Yes</span></div>
                            </div>
                            <div class="flex">
                                <input type="checkbox" value="" class="checkbox checkbox-accent" />
                                <div><span class="label-text mx-3">No</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <div class='mx-5 w-80'>

                    </div>
                    <div>
                        <div class="flex ">
                            <div>
                                <div class="  rounded-lg border-2 border-blue-200 w-96">
                                    <table class="text-center    table table-zebra w-full">
                                        <!-- head -->
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Share held</th>
                                                <th>Divided</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- row 1 -->
                                            <tr>
                                                <td>31 Mar 2022</td>
                                                <td>100</td>
                                                <td>$50,000.00</td>
                                            </tr>
                                            <!-- row 2 -->
                                            <tr>
                                                <td>5 Apr 2022</td>
                                                <td>100</td>
                                                <td>$25,000.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <button class="p-2 ml-5 rounded-md text-white bg-teal-500 hover:bg-teal-300 ">
                                    + New Dividend Income
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Accounting Software -->
                <div class="flex my-10">
                    <div class='mx-5 w-80'>
                        <div class="font-bold">Accounting Software</div>
                        <small>Connect your accounting Software.</small>
                    </div>
                    <div>
                        <button class="p-2 m-1 rounded-md text-white bg-teal-500 hover:bg-teal-300 ">+Connect</button>
                        <button
                            class="p-2 m-1 rounded-md border border-blue-600  hover:bg-teal-500   ">Settings</button>
                    </div>
                </div>

                <!-- Notes -->
                <div class="flex my-10">
                    <div class='mx-5 w-80'>
                        <div class="font-bold">Notes</div>

                    </div>
                    <div>
                        <textarea class="textarea w-80  textarea-primary" placeholder="Notes"></textarea>
                    </div>
                </div>

                <div class="flex justify-between mx-5 my-4">
                    <div>
                        <button class="py-2 px-1 m-1 rounded-md bg-red-500 hover:bg-red-400 ">Delete Business</button>
                    </div>
                    <div>
                        <button class="p-2 m-1 rounded-md border border-blue-600  hover:bg-teal-500   ">Cancel</button>
                        <button class="p-2 m-1 rounded-md bg-teal-500 hover:bg-teal-400 ">Save</button>
                    </div>
                </div>


            </div>
        </div>
    </div>